@font-face {
  font-family: 'Heebo';
  src: url('../assets/fonts/Heebo-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-VF.woff2') format('woff2');
}