@font-face {
  font-family: 'Heebo';
  src: url('../assets/fonts/Heebo-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-VF.woff2') format('woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,900;1,400;1,600;1,900&display=swap');